In [12]:

accident_df = pd.read_csv("US_Accidents_Dec20_updated.csv")

/home/turkai/anaconda3/envs/pythonProject2/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,4,5,6,7,8,10,30,31,32,33,34,35,36,37,38,39,40,41,42) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [13]:
accident_df.apply(lambda x: x.describe())

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
count,1516064,1516064.0,1516064,1516064,1.516064e+06,1.516064e+06,1.516064e+06,1.516064e+06,1516064.0,1516064,...,1516062,1516062,1516062,1516062,1516062,1516062,1515979,1515979,1515979,1515979
freq,1,1199594.0,109,73,2.550000e+02,2.460000e+02,2.570000e+02,2.620000e+02,399718.0,2709,...,1516011,1487915,1498366,1515573,1346093,1516062,909836,969073,1035101,1090944
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,A-2716600,2.0,2020-12-16 13:53:25,2017-05-15 15:22:55,4.085306e+01,-8.020638e+01,4.084992e+01,-7.394408e+01,0.0,A crash has occurred causing no to minimum del...,...,False,False,False,False,False,False,Day,Day,Day,Day
unique,1516064,8.0,1037092,1161415,5.968820e+05,6.093330e+05,5.941550e+05,6.059760e+05,13676.0,527656,...,2,2,2,2,2,1,2,2,2,2

In [14]:
accidents= accident_df[['ID','Severity','Start_Time','City','State']]

In [15]:
accidents.isnull().sum()

ID             0
Severity       0
Start_Time     0
City          83
State          0
dtype: int64

In [20]:
accident_df_1= accidents["City"].isin(["Los Angeles"])

accident_df_1= pd.DataFrame(accidents[accident_df_1])

accident_df_1= accident_df_1.reset_index()

accident_df_2= accident_df_1.rename(columns={"index":"date_time", "Start_Time": "counts"})

accident_df_2

       date_time         ID Severity               counts         City State
0           5360  A-2721960        2  2016-03-22 19:36:44  Los Angeles    CA
1           5364  A-2721964        2  2016-03-22 20:59:43  Los Angeles    CA
2           5379  A-2721979        3  2016-03-23 07:59:47  Los Angeles    CA
3           5397  A-2721997        2  2016-03-23 11:50:32  Los Angeles    CA
4           5399  A-2721999        2  2016-03-23 12:16:45  Los Angeles    CA
...          ...        ...      ...                  ...          ...   ...
39979    1515619  A-4238962        2  2019-08-22 17:07:14  Los Angeles    CA
39980    1516027  A-4239370        3  2019-08-23 04:04:48  Los Angeles    CA
39981    1516031  A-4239374        2  2019-08-23 12:52:31  Los Angeles    CA
39982    1516034  A-4239377        2  2019-08-23 13:42:50  Los Angeles    CA
39983    1516046  A-4239389        2  2019-08-23 15:45:43  Los Angeles    CA

[39984 rows x 6 columns]

In [ ]:
#accident_df_1['Months'] =pd.to_datetime(accident_df_1['counts']).dt.month
#accident_df_1['Minute'] =pd.to_datetime (accident_df_1['counts']).dt.minute
#accident_df_1['Hours'] = pd.to_datetime(accident_df_1['counts']).dt.hour
#accident_df_1['Year'] = pd.to_datetime(accident_df_1['counts']).dt.year
#accident_df_1['Day'] =pd.to_datetime(accident_df_1['counts']).dt.day

In [31]:
time=['Months','Minute','Hours','Year','Day']
sayi=['counts']
modul=['month','minute','hour','year','day']
def zaman (x,sayi,z,accident_df_2): 
    for i in x:
        yield i
    for j in z:
        yield j
       
    return accident_df_2.apply(accident_df_2[i] == pd.to_datetime(accident_df_2[sayi]).dt.j)    
uygula=map(zaman,(time),(modul))   
print(uygula)

<map object at 0x7f1afe2ee310>

In [32]:
accident_df_3= accident_df_2[['Year','Months','Day','Hours','Minute']]
print(accident_df_3)

KeyError: "None of [Index(['Year', 'Months', 'Day', 'Hours', 'Minute'], dtype='object')] are in the [columns]"

In [ ]:
b = [0,4,8,12,16,20,24]
l = ['Late_Night', 'Early_Morning','Morning','Noon','Eve','Night']
accident_df_3['Araliklar'] = pd.cut(accident_df_3['Hours'].astype(int), bins=b, labels=l, include_lowest=True)

In [ ]:
def getDayNumber(year, month, day):
    weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
    dayNumber = calendar.weekday(year, month, day)
    return (weekdays[dayNumber])



accident_df_3['weekday']= accident_df_3.apply(lambda x: getDayNumber(x['Year'], x['Months'], x['Day']), axis=1)

accident_df_3

In [ ]:
"""late_date=  pd.DataFrame(accident_df_1['weekday'].loc[accident_df_1['Araliklar']=='Late_Night'].groupby(accident_df_1['weekday']).count())
early_date= pd.DataFrame(accident_df_1['weekday'].loc[accident_df_1['Araliklar']=='Early_Morning'].groupby(accident_df_1['weekday']).count())
morning= pd.DataFrame(accident_df_1['weekday'].loc[accident_df_1['Araliklar']=='Morning'].groupby(accident_df_1['weekday']).count())
noon_date= pd.DataFrame(accident_df_1['weekday'].loc[accident_df_1['Araliklar']=='Noon'].groupby(accident_df_1['weekday']).count())
eve_date= pd.DataFrame(accident_df_1['weekday'].loc[accident_df_1['Araliklar']=='Eve'].groupby(accident_df_1['weekday']).count())
night_date= pd.DataFrame(accident_df_1['weekday'].loc[accident_df_1['Araliklar']=='Night'].groupby(accident_df_1['weekday']).count())"""

    
time=['Late_Night','Early_Morning','Morning','Noon','Eve','Night']
def zaman (x,accident_df_3): 
    for i in x:
        yield i
      
    return accident_df_3.apply(pd.DataFrame(accident_df_3['weekday'].loc[accident_df_3['Araliklar'] == i].groupby(accident_df_3['weekday']).count()))    
uygula=map(zaman,(time)) 
print(uygula) 


zmn=['late_date','early_date','morning','noon_date','eve_date','night_date']
def atama(zmn,accedent_df_3):
    for j in zmn:
        yield j
    return  j ==uygula  
print(atama)
c=atama(zaman,accident_df_3)

In [ ]:
"""#late_date_1= pd.DataFrame({'gunler': [0, 1, 2, 3, 4, 5, 6],
               #'Toplam_kaza':             [late_date['weekday'].loc[late_date.index=='Monday'].sum(), 
                                            late_date['weekday'].loc[late_date.index=='Tuesday'].sum(),      
                                            late_date['weekday'].loc[late_date.index=='Wednesday'].sum(), 
                                            late_date['weekday'].loc[late_date.index=='Thursday'].sum(), 
                                            late_date['weekday'].loc[late_date.index=='Friday'].sum(),
                                            late_date['weekday'].loc[late_date.index=='Saturday'].sum(), 
                                            late_date['weekday'].loc[late_date.index=='Sunday'].sum()]})
#early_date_1
#morning_1
#noon_date_1
#eve_date_1
#night_date_1"""

In [ ]:
"""#cevirilmis_1=list(night_date_1.gunler)
#cevirilmis_2= list(night_date_1.Toplam_kaza)
#fig = plt.figure(figsize = (10, 5))
#plt.bar(cevirilmis_1, cevirilmis_2, color ='red',
        width = 0.4)       
 
#plt.show()"""

In [ ]:
"""d_graphics=pd.concat([late_date_1,early_date_1,morning_1,noon_date_1,eve_date_1,night_date_1], axis=1)
don_a= d_graphics['gunler'].to_numpy()
don_b= d_graphics['Toplam_kaza'].to_numpy()
d = np.vstack((don_a,don_b))

a1= np.ravel(don_a)
a2=np.ravel(don_b)
a3=np.array([1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6]).reshape(6,7)
colors = plt.cm.jet(don_a.flatten()/float(don_a.max()))   
columns=["bos","Mon", "Tues", "Wedne", "Thurs", "Fri", "Satur", "Sun"]
rows=['bos','LateNight','EarlyMorning','Morning','Noon','Eve','Night']
xpos =don_a
ypos = a3
xpos = xpos.flatten()
ypos = ypos.flatten()
zpos = np.zeros(don_a.shape).flatten()

dx = 0.5 * np.ones_like(zpos)
dy = 0.5 * np.ones_like(zpos)
dz= a2

fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')
ax.bar3d(xpos,ypos,zpos,dx,dy,dz,color=colors)
ax.w_xaxis.set_ticklabels(columns)
ax.w_yaxis.set_ticklabels(rows)
plt.rcParams['font.size'] = 7
ax.set_xlabel('Weekdays')
ax.set_ylabel('Hours')
ax.set_zlabel('Accidents')
plt.title('saat aralılarına göre haftalık dağılım', bbox={'facecolor':'blue'})
plt.show()"""

In [11]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
import calendar 
from mpl_toolkits.mplot3d import Axes3D, proj3d
from matplotlib import style
from matplotlib import cm,animation
import matplotlib.animation as animation
from matplotlib.animation import FuncAnimation
from IPython import display