In [27]:
import pandas as pd
import numpy as np

from math import *
from decimal import Decimal
from sklearn.cluster import KMeans


from sklearn.cluster import OPTICS, cluster_optics_dbscan
import matplotlib.gridspec as gridspec
import matplotlib.pyplot as plt
import geopandas as gpd 
from shapely.geometry import LineString,Point
from itertools import combinations 
from collections import defaultdict

from shapely.geometry import Point


import osmnx as ox
%matplotlib inline
import networkx as nx
import requests
import matplotlib.cm as cm
import matplotlib.colors as colors
from matplotlib.lines import Line2D

In [28]:
print(f"The NetworkX package is version {nx.__version__}")
print(f"The OSMNX package is version {ox.__version__}")
print(f"The Request package is version {requests.__version__}")
print(f"The PIL package is version {PIL.__version__}")

The NetworkX package is version 2.6.3
The OSMNX package is version 0.11
The Request package is version 2.27.1

NameError: name 'PIL' is not defined

In [29]:
ac=pd.read_csv("US_Accidents_Dec20_updated.csv")

/home/turkai/anaconda3/envs/geo_env/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3251: DtypeWarning: Columns (1,4,5,6,7,8,10,30,31,32,33,34,35,36,37,38,39,40,41,42) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [30]:
ac.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [9]:
loc=ac[["Start_Lat","Start_Lng","City"]]
loc.dtypes
loc

        Start_Lat  Start_Lng         City
0        40.10891  -83.09286       Dublin
1        39.86542   -84.0628       Dayton
2        39.10266  -84.52468   Cincinnati
3        39.10148  -84.52341   Cincinnati
4        41.06213  -81.53784        Akron
...           ...        ...          ...
1516059  34.00248 -117.37936    Riverside
1516060  32.76696 -117.14806    San Diego
1516061  33.77545 -117.84779       Orange
1516062  33.99246 -118.40302  Culver City
1516063  34.13393 -117.23092     Highland

[1516064 rows x 3 columns]

In [10]:
loc_1= loc[loc["City"]=="Los Angeles"]
loc_1

        Start_Lat    Start_Lng         City
5360     34.09256   -118.20622  Los Angeles
5364     33.94819   -118.27973  Los Angeles
5379      34.0233   -118.17288  Los Angeles
5397      34.1447   -118.27865  Los Angeles
5399     34.09914  -118.251853  Los Angeles
...           ...          ...          ...
1515619  34.03693   -118.43877  Los Angeles
1516027  34.07579   -118.27668  Los Angeles
1516031  34.02379   -118.27639  Los Angeles
1516034  34.07061   -118.26391  Los Angeles
1516046  34.04365   -118.44373  Los Angeles

[39984 rows x 3 columns]

In [11]:
loc_1= loc_1.reset_index()
loc_1

         index Start_Lat    Start_Lng         City
0         5360  34.09256   -118.20622  Los Angeles
1         5364  33.94819   -118.27973  Los Angeles
2         5379   34.0233   -118.17288  Los Angeles
3         5397   34.1447   -118.27865  Los Angeles
4         5399  34.09914  -118.251853  Los Angeles
...        ...       ...          ...          ...
39979  1515619  34.03693   -118.43877  Los Angeles
39980  1516027  34.07579   -118.27668  Los Angeles
39981  1516031  34.02379   -118.27639  Los Angeles
39982  1516034  34.07061   -118.26391  Los Angeles
39983  1516046  34.04365   -118.44373  Los Angeles

[39984 rows x 4 columns]

In [12]:
bas_son=pd.DataFrame({'baslangic':loc_1['Start_Lat'],
                       'son':loc_1["Start_Lng"]

})
bas_son.dtypes

don_a=bas_son["baslangic"].to_numpy()
don_b=bas_son["baslangic"].to_numpy()
don_c=bas_son.to_numpy()

In [13]:
bas_son

      baslangic          son
0      34.09256   -118.20622
1      33.94819   -118.27973
2       34.0233   -118.17288
3       34.1447   -118.27865
4      34.09914  -118.251853
...         ...          ...
39979  34.03693   -118.43877
39980  34.07579   -118.27668
39981  34.02379   -118.27639
39982  34.07061   -118.26391
39983  34.04365   -118.44373

[39984 rows x 2 columns]

In [14]:
print(don_a.shape)
print(don_b.shape)
print(don_c.shape)

(39984,)
(39984,)
(39984, 2)

In [32]:
conda install geopandas=0.6.3 -c conda-forge

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/turkai/anaconda3/envs/geo_env

  added / updated specs:
    - geopandas=0.6.3


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geopandas-0.6.3            |             py_0         903 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         903 KB

The following packages will be DOWNGRADED:

  geopandas                             0.10.2-pyhd8ed1ab_1 --> 0.6.3-py_0



Downloading and Extracting Packages
geopandas-0.6.3      | 903 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [31]:

place_name=("Los Angeles, California, USA")
graphx = ox.graph_from_place(place_name, network_type='drive')
ox.plot_graph(graphx)

/home/turkai/anaconda3/envs/geo_env/lib/python3.10/site-packages/osmnx/projection.py:47: FutureWarning: Assigning CRS to a GeoDataFrame without a geometry column is now deprecated and will not be supported in the future.
  gdf.crs = crs

TypeError: argument of type 'CRS' is not iterable